name: Test
permissions:
  contents: read

on:
  push:
    paths-ignore:
      - 'README.md'
      - '.github/dependabot.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
      - name: Install
        run: npm i
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run ci:test

